{{template "user/settings/layout_head" (dict "ctxData" . "pageClass" "user settings twofa" "HideNavbarLinks" .HideNavbarLinks)}}
	<div class="user-setting-content">
		<h4 class="ui top attached header">
			{{if .ReenrollTwofa}}
				{{ctx.Locale.Tr "settings.twofa_reenroll"}}
			{{else}}
				{{ctx.Locale.Tr "settings.twofa_enroll"}}
			{{end}}
		</h4>
		<div class="ui attached segment">
			<p>{{ctx.Locale.Tr "settings.scan_this_image"}}</p>
			<img src="{{.QrUri}}" alt="{{.TwofaSecret}}">
			<p>{{ctx.Locale.Tr "settings.or_enter_secret" .TwofaSecret}}</p>
			<p>{{ctx.Locale.Tr "settings.then_enter_passcode"}}</p>
			<form class="ui form" action="{{.Link}}" method="post">
				<div class="inline required field {{if .Err_Passcode}}error{{end}}">
					<label for="passcode">{{ctx.Locale.Tr "passcode"}}</label>
					<input id="passcode" name="passcode" autofocus required>
				</div>
				<div class="field">
					<button class="ui primary button">{{ctx.Locale.Tr "auth.verify"}}</button>
				</div>
			</form>
		</div>
	</div>

{{template "user/settings/layout_footer" .}}
