{{template "base/head" .}}
<div class="page-content">
	<div class="tw-flex">
		<div class="tw-w-4/5">
			hello hello hello hello hello hello hello hello hello hello
		</div>
		<div class="tw-w-1/5">
			{{template "demo/tmplerr-sub" .}}
		</div>
	</div>
</div>
{{template "base/footer" .}}
