{{template "user/settings/layout_head" (dict "ctxData" . "pageClass" "user settings size-overview")}}
<div class="user-setting-content">
	{{template "shared/quota_overview" .}}
</div>
{{template "user/settings/layout_footer" .}}
