<div class="item p1em">
	<p>{{ctx.Locale.Tr "actions.runs.enable_stackit_runners.section_1"}}</p>
	<p>{{ctx.Locale.Tr "actions.runs.enable_stackit_runners.section_2"}}</p>
</div>
<div class="divider tw-my-0"></div>
