<div class="item p1em">
	<h3>{{ctx.Locale.Tr "actions.runs.no_workflows"}}</h3>
	{{if and .CanWriteCode .CanWriteActions}}
		<p>{{ctx.Locale.Tr "actions.runs.no_workflows.quick_start"}}</p>
	{{end}}
	<p>{{ctx.Locale.Tr "actions.runs.no_workflows.documentation"}}</p>
</div>
<div class="divider tw-my-0"></div>
