<div class="item p1em">
	<div class="ui warning message tw-flex tw-items-center tw-gap-2">
		<div class="tw-flex-1 tw-break-anywhere">
			<p>{{ctx.Locale.Tr "actions.runs.start_using_stackit_runners.section_1"}}</p>
		</div>
	</div>
	<p>{{ctx.Locale.Tr "actions.runs.start_using_stackit_runners.section_2"}}</p>
	<p>{{ctx.Locale.Tr "actions.runs.start_using_stackit_runners.section_3"}}</p>
	<p>{{ctx.Locale.Tr "actions.runs.start_using_stackit_runners.section_4"}}</p>
</div>
<div class="divider tw-my-0"></div>
