{{template "org/settings/layout_head" (dict "ctxData" . "pageClass" "organization settings size-overview")}}
<div class="org-setting-content">
	{{template "shared/quota_overview" .}}
</div>
{{template "org/settings/layout_footer" .}}
