{{template "admin/layout_head" (dict "ctxData" . "pageClass" "admin monitor")}}
<div class="admin-setting-content">
	<h4 class="ui top attached header">
		{{ctx.Locale.Tr "admin.dashboard.statistic"}}
	</h4>
	<div class="ui attached table segment">
		<table class="ui very basic striped table unstackable">
			{{range $statsKey, $statsValue := .Stats}}
				{{ $type := (printf "%T" $statsValue) }}
			<tr forgejo-type-value="{{$type}}">
				<td width="200">{{$statsKey}}</td>
				<td>
          {{ if or (eq $type "string") (eq $type "int64" )}}
          	{{ $statsValue }}
          {{ else }}
          	{{ if eq $type "types.DiskSpaceUsageBytesHuman" }}
          		{{template "admin/stats/disk_space_usage" (dict "ctxValue" $statsValue)}}
          	{{ end }}

						{{ if eq $type "[]activities.IssueByRepositoryCount" }}
							{{template "admin/stats/issue_by_repository" (dict "ctxValue" $statsValue)}}
          	{{ end }}

          	{{ if eq $type "map[string]map[string]types.DiskSpaceUsageBytesHuman" }}
							{{template "admin/stats/object_storage_space_usage" (dict "ctxValue" $statsValue)}}
          	{{ end }}
          {{ end }}
				</td>
			</tr>
			{{end}}
		</table>
	</div>
</div>
{{template "admin/layout_footer" .}}
