<div class="codemirror-container"
	data-search-text="{{ctx.Locale.Tr "editor.search"}}"
	data-find-prev-text="{{ctx.Locale.Tr "editor.find_previous"}}"
	data-find-next-text="{{ctx.Locale.Tr "editor.find_next"}}"
	data-replace-text="{{ctx.Locale.Tr "editor.replace"}}"
	data-replace-all-text="{{ctx.Locale.Tr "editor.replace_all"}}"
	data-toggle-case-text="{{ctx.Locale.Tr "editor.toggle_case"}}"
	data-toggle-regex-text="{{ctx.Locale.Tr "editor.toggle_regex"}}"
	data-toggle-whole-word-text="{{ctx.Locale.Tr "editor.toggle_whole_word"}}">
	<div class="editor-loading is-loading"></div>
</div>
